{% block emz_staging_environment_index %}
    <sw-page class="emz-staging-environment-index">
        <template slot="smart-bar-actions">
            <sw-button
                variant="primary"
                :routerLink="{ name: 'emz.staging.environment.create' }"
            >
                {{ $t('emz-staging-environment.list.addEnvironmentButton') }}
            </sw-button>
        </template>
        <template #content>
            {% block emz_staging_environment_list_content %}
                <sw-entity-listing
                    v-if="environments"
                    :items="environments"
                    :repository="repository"
                    :showSelection="false"
                    :columns="columns"
                    detailRoute="emz.staging.environment.detail"
                >
                    <template #column-folderName="{ item, compact }" >
                        {% block emz_staging_environment_list_content_columns_foldername_label %}
                            <div>
                                {# <a v-for="salesChannel in salesChannels" :key="salesChannel.id" href="salesChannel">

                                </a> #}
                                <a href="#">
                                    Storefront: {{item.folderName}}
                                    <sw-icon name="default-action-external" small color="#009bd9"></sw-icon>
                                </a>
                                <a href="#">
                                    Administration: {{item.folderName}}/admin
                                    <sw-icon name="default-action-external" small color="#009bd9"></sw-icon>
                                </a>
                            </div>
                        {% endblock %}
                    </template>
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %} 